body {
    font-family: Arial, sans-serif;
}

.definition {
    width: 700px;
    margin: 40px auto;
}

h1 {
    font-size: 16px;
    margin-bottom: 20px;
}

.pronunciation {
    font-size: 14px;
    margin-bottom: 20px;
}

dt {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

dd {
    margin-left: 40px;
}

ol {
    padding-left: 25px;
}

li {
    margin-bottom: 10px;
    line-height: 1.4;
}

.example {
    margin: 5px 0;
    color: #666;
}

.synonyms {
    color: #4b4b8f;
    margin: 5px 0;
}

dd + dt {
    margin-top: 25px;
}