* { 
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
.container {
    max-width: 560px;
    margin: 0 auto;
    padding: 20px;
    background: #f2f2f2;
}

.fruits {
    margin: 0;
    padding: 40px;
    background: #f39aae;
    color: white;
}
.fruits li {
    margin: 10px 0;
    padding: 0;
    background: #c45f78;
    min-height: 35px;
    line-height: 35px;
}
.fruits li:nth-child(3) { background: #bd5971; }
.fruits span {
    display: inline-block;
    padding: 0 16px;
    background: #9f2f4d;
}

.fruits li::marker { color: white; }